*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Barlow', sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

.header {
  background-color: #fff;
  padding: 44px 0 34px;
}

/* SAME ELEMENTS */
.container,
.collection__container {
  max-width: 1280px;
  margin: 0 auto;
}

.header__list,
.header__nav,
.collection__list {
  display: flex;
  align-items: center;
}

.header__item:nth-of-type(1),
.header__item:nth-of-type(2),
.collection__list {
  flex-grow: 1;
}

.header__logo-text,
.header__nav-link:hover,
.collection__heading,
.collection__text {
  color: #333d4b;
}

.coffee__container,
.coffee__link {
  border-radius: 6px;
}

.header__logo-text,
.coffee__heading,
.coffee__link,
.collection__heading {
  font-weight: 900;
  font-family: 'Fraunces', sans-serif;
}

.coffee__text,
.collection__text {
  line-height: 26px;
}

.header__logo-text,
.collection__heading {
  font-size: 24px;
}

/* HEADER */
.header__list {
  justify-content: space-around;
}

.header__nav {
  justify-content: flex-end;
}

.header__nav-item {
  margin-right: 33px;
}

.header__nav-item:nth-of-type(3) {
  margin-right: 0;
}

.header__nav-link {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888f;
  transition: color 300ms ease-in;
}

/* MAIN */

/* COFFEE */
.coffee {
  margin-bottom: 136px;
}

.coffee__container {
  width: 100vw;
  background-image: url('../img/bitmap.jpg');
  background-size: cover;
  padding: 117px 86px;
}

.coffee__article {
  width: 493px;
}

.coffee__heading {
  font-size: 72px;
  line-height: 72px;
  color: #fefcf7;
}

.coffee__text {
  color: #fefcf7cc;
  mix-blend-mode: normal;
  margin: 0 0 56px;
}

.coffee__link {
  font-size: 18px;
  background-color: #66d2cf;
  color: #fefcf7;
  padding: 16px 31px;
  line-height: 25px;
}

/* COLLECTION */
.collection__container {
  max-width: 1111px;
  background-image: url('../img/our-collection.png');
  background-repeat: no-repeat;
}

.collection__list {
  justify-content: space-between;
  align-items: baseline;
  text-align: center;
  padding-top: 125px;
}

.collection__heading {
  line-height: 32px;
  text-transform: capitalize;
  margin: 0 0 24px;
}

.collection__text {
  width: 255px;
}
